<!DOCTYPE html>
<html>
  <head>
    <title>IRock</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
  <div class = 'container-fluid'>
   <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">

    
      <li><%= link_to 'New Achievement', new_achievement_path  %></li>
      </ul>
      </div>
      </nav>
      <% if flash[:notice] %>
       <div class="alert alert-info"><%= flash[:notice] %></div>
       <% end %>
       <%= yield %>
    </div>
  </body>
</html>